/** Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

/** Struct */
body {
    background: #F9F5F2;
    color: #141414;
    font: 15px arial, sans-serif;
}

header, nav, #content, footer {
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

header, footer {
    font: 25px 'trebuchet ms', arial, sans-serif;
    background: #133361;
    margin: 5px auto;
    border-radius: 4px;
    color: #fff;
}

nav {
}

#content {
}

footer {
    font: 16px 'trebuchet ms', 'arial' ,sans-serif;
}

footer a {
    color: #fff;
}

#status {
    background: #ffe0e1;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

/** Anchor */
nav a {
    text-decoration: none;
    font-weight: bolder;
    padding: 4px 10px;
    margin: 0 10px 0 0;
    background: #44679b;
    color: #fff;
    border-radius: 3px;
}

/** Body */
p {
    line-height: 150%;
    margin-bottom: 20px;
}

fieldset {
    padding: 10px;
    background: #f2e9e3;
    border-radius: 4px;
}

form {   
    margin: 15px 0;
}

form label {
    width: 100px;
    float: left;
}


form input {
    padding: 4px;
    border: 1px solid silver;
    border-radius: 2px;
    color: #333
}

form input[type=submit] {
    padding: 4px 14px;
    cursor: pointer;
}

div.clear {
    clear: both;
}

b {
    font-weight: bolder;
}