body {
    background: #f3f3f3;
    font: 14px arial, sans-serif;
    line-height: 120%;
}
#content {
    float: left;
    width: 700px;
}
#sidebar {
    float: left;
    width: 200px;
}
#sidebar a {
    display: block;
    padding: 4px 0;
}

#content h2, #content  h3 {
    background: #eee;
    padding: 4px
}

pre {
    background: #fff;
    border: 1px solid #ddd;
    line-height: 130%;
    display: block;
    padding: 10px;
    border-radius: 2px;
}

code {
}